@model ktthuchanh.Models.Xemay

@{
    ViewData["Title"] = "ChiTietXe";
}

<!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src=@Url.Content("../ProductImage/"+Model.Anh) alt="">
                        </div>
                   
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>@Model.Tenxe</h3>
                        <div class="product__details__rating">                  
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">@Model.Giaxe vnd</div>
                        <p>@Model.Mota</p>                       
                        <ul>
                            <li><b>Mau sac</b> <span>@Model.Mausac</span></li>
                            <li><b>Loai</b> <span>@Model.Loai <samp>Free pickup today</samp></span></li>
                            <li><b>Co san</b> <span>@Model.Soluong</span></li>
                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
